* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    
}

body
{
    background-image: url(cover.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif; 
}
.menu-bar
{
    background: transparent;
    text-align: center;
   
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
   
}
.menu-bar ul li 
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: rgb(217, 215, 224);
}
.active, .menu-bar ul li:hover
{
    background: rgb(62, 62, 110);
    border-radius: 3px;

}
.menu-bar{
    margin-right: 8px;
}
.sub-menu1{
    display: none;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: rgb(128, 128, 168);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius:0;
    text-align: left;

}
h1{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
   margin: 50px;
}
container{
    width: 960px;
    margin: 0 auto;
    
    
}
.box1{
    width: 450px;
    float: left;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;  
    margin: 90px; 
}
.boxh1{
    margin-top: 20px;
    font-size: 30px;
}
.boxp{
    text-align:justify;
    padding: 0 40 80 40;
}
.box2{
    width: 450px;
    float: left;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin: 90px;
    
}
.img_1{
   width: 500PX;
   height: 350px;
   border-radius: 10px;
}

.h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);

}
.img2{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto; 
    display: block;
    
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;

}
.li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: orange;
}
button{
    text-align: center;
    font-size: 24px;
    color: #f2f2f2;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy_1{
    background: rgb(71, 71, 161);
}
.buy_2{
    background: rgb(32, 66, 61);
}
.buy_3{
    background: rgb(116, 150, 61);
}
.h{
    text-align: center;
    margin: 0 auto;
}